<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/main.css"
    />
  </head>
  <body>
        <div class="centerDiv" style="height: 655px">
          <h1>Authenticate your Personal ID</h1>
          <h2>Step 2: Personal Details - Biometrics Matching</h2>
          <div class="container">
          <div class="left" style="word-wrap: break-word; width: 250px;">
            <p>
              Please position your face within the box. 
              Position yourself to allow the camera to capture your profile from the shoulder up, 
              you cannot wear any obstructive face-wear, including but not limited to sunglasses, a hat, or masks.
            </p>
            <div></div>
          </div>
          <div class="right" style="margin-left: 50px">
            <form action="/success_auth" method="POST"> 
              <svg></svg>
              <br/>
              <br/>
              <div><input type="submit" id="submit" value="Submit"/></div>
            </form>
              
          </div>
        </div>
        </div>
      </body>
</html>
